@using Exercise5.Models
@using Exercise5.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@model Exercise5.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Component categories";
}
<h1>@ViewBag.Title</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th class="col-md-8">Name</th>
        @if (SignInManager.IsSignedIn(User))
        {
            <th class="col-md-2">Edit</th>
            <th class="col-md-2">Delete</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>@category.Name</td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@category.CategoryId">
                        <span class="glyphicon glyphicon-pencil"/></a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@category.CategoryId">
                        <span class="glyphicon glyphicon-remove"/></a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <a class="btn btn-primary" asp-action="Create">Create</a>
    </div>
}