body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.verticalspace {
  height: 3em;
}

.table tbody > tr > td.vertalign {
  vertical-align: middle;
}