@model Exercise4.ViewModels.ComponentTypeViewModel
@{
    ViewData["Title"] = "List of components types";
}
<h1>@ViewData["Title"]</h1>
<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th class="col-md2">Name </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var componentType in Model.Types)
    {
        <tr>
            <td>@componentType.ComponentName</td>
        </tr>
    }
    </tbody>
</table>