extends layout

block content
  .container
    h1.page-header #{title}
    p.lead Your training programs are listed below:
    table.table
      thead
        tr
          th.col-md-3 Name
          th.col-md-8 Link
      tbody
        - each trainingProgram in trainingPrograms
          tr
            td.vertalign #{trainingProgram.name}
            td
              a.btn.btn-primary(href="/exercises/" + trainingProgram.name) Go to #{trainingProgram.name}
    .verticalspace
    a.btn.btn-primary(href="/trainingProgram/new") Add new training program