extends layout

block content
  .col-xs-4.col-xs-offset-4(align="center")
    h1.page-header Login
    form(method='post', action='/login')
      .form-group
        label.control-label Email:
        input(type='text', name='email', placeholder='Email', required="true").form-control
      .form-group
        label.control-label Password:
        input(type='password', name='password', placeholder='Password', required="true").form-control
      button.btn.btn-primary(type='submit') Login